/* RESET */
html {
    box-sizing: border-box;
    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;

  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

a {
    text-decoration: none;
}

/* INDEX STYLES */
body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}

main {
    padding: 2em;
    width: 60%;
    margin: 0 auto;
    max-width: 60em;
}
.hero-image {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 1em;
}

.page-header {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1em;
    color: rgb(169, 0, 71);
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

ul {
    text-align: center;
    margin-top: 2em;
}

li {
    font-size: 1rem;
    display: inline-block;
    margin: 0 1em 0;

}

a {
    display: inline-block;
    padding: 1em 2em;
    background-color: rgb(169, 0, 71);
    color: white;
    border-radius: 100em;
    letter-spacing: 0.025em;
}

a:hover {
    background-color: rgb(106, 1, 54);
}